@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="breadcrumb">
    @{
        <li class="active"><a href="@Url.Action("Index", "Admin")">Главная</a> <span class="divider">/</span></li>
    }
</ul>

<h2>Модуль управления контентом</h2>

<p>Добро пожаловать в модуль администрирования сайта!</p>
<p>Здесь вы сможете управлять контентом, а именно:</p>


<ul>
    <li>Просматривать содержимое разделов:
        <ul>
            <li>Категории</li>
            <li>Фотографии</li>
            <li>Отзывы</li>
        </ul>
    </li>
    <li>Редактировать содержимое
        <ul>
            <li>Добавлять категории</li>
            <li>Загружать фотографии</li>
            <li>Модерировать отзывы</li>
            <li>Упорядочивать категории фотографий</li>
            <li>Обновлять ссылки</li>
            @*<li></li>*@
        </ul>
    </li>
    <li>Управлять правами доступа пользователей</li>
    @*<li>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>*@

</ul>

