@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
}


<div class="page wrapper">
    <div id="crumbs">
        <ul class="exbreadcumb">
            <li>@Html.ActionLink("Главная", "Portfolio", "Home")</li>
            @*<li class="active">@Html.ActionLink("Вопрос/Ответ", "Comments", "Home")</li>*@
        </ul>
    </div>
<h1>Успешно</h1>
    <p>Тут надо запилить какое-то гламурное фото!</p>
        @*<p>@TempData["exception"]</p>*@
    </div>
