<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="RegNumDBContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=RegnumStore;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\RegnumStore.mdf" providerName="System.Data.SqlClient" />-->
    <add name="RegNumDBContext" connectionString="Data Source=GOLDMINE;Initial Catalog=RegnumStore;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="RegNumDBContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=RegnumStore;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RegNumDBContext" connectionString="workstation id=RegnumStore.mssql.somee.com;packet size=4096;user id=graf43479_SQLLogin_1;pwd=g2b3ydykin;data source=RegnumStore.mssql.somee.com;persist security info=False;initial catalog=RegnumStore" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>
