@using RegNumStore.Models

@{
   
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    SimpleSeoViewModel attr = (SimpleSeoViewModel)ViewBag.SEO;
    if (attr != null)
    {
        ViewBag.Title = attr.Tittle;
        ViewBag.Robots = attr.Robots;
        ViewBag.Keywords = attr.Keywords;
        ViewBag.Snippet = attr.Snippet;
    }
    //ViewBag.Title = "О нас";
    //Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    //ViewBag.Robots = "follow, index";
    //ViewBag.Keywords = "Информация обо мне о себе";
    //ViewBag.Snippet = "Сведения обо мне и моих фото-работах";
}

<div class="page wrapper">
    <div id="crumbs">
        <ul class="exbreadcumb">
            <li>@Html.ActionLink("Главная","Portfolio","Home")</li>
            <li class="active">@Html.ActionLink("О нас","About","Home")</li>
        </ul>
    </div>
    @{
        if (Model!=null)
        {
            @Html.Raw(Model.ArticleText);
        }
}

    
    
    
    @*      <h1>О нас</h1>
   <div class="page-content"><p>
                                  <a class="modal" href="upload-files/i.jpg">
                                      <img style="margin-left: 10px; margin-right: 10px; float: right;" src="~/Content/images/i.jpg" alt="" width="200" height="301" />
                                  </a>Я думаю, что человек лучше всего делает то, к чему испытывает неподдельную страсть. Вот почему я занимаюсь фотографией. 
                                  Во время фотосъемки для меня важно передать атмосферу и настоящие эмоции. 
                                  Акцентирую внимание на ярких деталях и стараюсь добавить в каждый кадр немного динамики. 
                                  Самое важное в фотографии для меня &ndash; раскрыть характер человека, его внутренний мир, поймать правильный момент. 
                                  И результат этой работы &ndash; яркие, динамичные и красивые снимки, которые, надеюсь, радуют и очаровывают людей.
                              </p>
        <p>Есть журнальные публикации, иллюстраций к статьям на Интернет-ресурсах, мои фотографии использовались в рекламе.</p>
        <p>Постоянно повышаю квалификацию на различных курсах и мастер-классах.</p></div>*@
</div>


@*  <h1></h1>
   <div class="page-content"><p>
                                  <a class="modal" href="upload-files/i.jpg">
                                      <img style="margin-left: 10px; margin-right: 10px; float: right;" src="~/Content/images/i.jpg" alt="" width="200" height="301" />
                                  </a>
                              </p>
        <p></p>
       <p></p>

   </div>*@