@using Domain.Entities
@using RegNumStore.Models
@{
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    SimpleSeoViewModel attr = (SimpleSeoViewModel)ViewBag.SEO;
    if (attr != null)
    {
        ViewBag.Title = attr.Tittle;
        ViewBag.Robots = attr.Robots;
        ViewBag.Keywords = attr.Keywords;
        ViewBag.Snippet = attr.Snippet;
    }
}



<div class="page wrapper">
    <div class="page-content"><p><strong>СВАДЕБНАЯ СЬЕМКА:&nbsp;</strong></p>
        <p><strong>Постановочная свадебная съемка и репортаж</strong>, до 5 часов*&nbsp;&ndash; <strong>20&nbsp;000 р. </strong></p>
        <p>- консультация</p>
        <p>- съёмка 5 часов (от 700 фотографий)</p>
        <p>- цветокоррекция (всех фотографий)</p>
        <p>- авторская ретушь (от 30 фотографий)</p>
        <p>- запись фотографий на флешку;</p>
        <p>- оформление и упаковка</p>
        <p>- печать лучших фотографий</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Постановочная свадебная съемка и репортаж</strong>, до 7 часов*&nbsp;&ndash; <strong>30 000 р.</strong></p>
        <p>- консультация</p>
        <p>- съёмка 7 часов (от 1000 фотографий)</p>
        <p>- цветокоррекция (всех фотографий)</p>
        <p>- авторская ретушь (от 50 фотографий)</p>
        <p>- запись фотографий на флешку;</p>
        <p>- оформление и упаковка</p>
        <p>- печать лучших фотографий</p>
        <p>- фотокнига 200х200 мм</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Постановочная свадебная съемка и репортаж</strong>, на весь день&nbsp;&ndash; <strong>45 000 р.</strong></p>
        <p>- консультация</p>
        <p>- съёмка 10 часов (от 1500 фотографий)</p>
        <p>- цветокоррекция (всех фотографий)</p>
        <p>- авторская ретушь (от 70 фотографий)</p>
        <p>- запись фотографий на флешку;</p>
        <p>- оформление и упаковка</p>
        <p>- печать лучших фотографий</p>
        <p>- премиум фотокнига 200х290 мм</p>
        <p>&nbsp;</p>
        <p>*при необходимости дополнительного времени съемки, цена рассчитывается из расчета <strong>4000 руб/час</strong></p>
        <p>&nbsp;</p>
        <p><strong>МОДЕЛЬНЫЕ ТЕСТЫ:</strong>&nbsp;<strong>10&nbsp;000 р.</strong></p>
        <p>- два часа съемки</p>
        <p>- аренда&nbsp;студии</p>
        <p>- 8 фотографий с ретушью</p>
        <p>- все фотографии со съемки в формате JPG</p>
        <p>&nbsp;</p>
        <p><strong>МИНИ ПОРТФОЛИО:</strong> <strong>15 000 р.</strong></p>
        <p>Визажист - <strong>3 000 р</strong>. (1 прическа и 1 макияж)</p>
        <p>- &nbsp;3 часа съемки</p>
        <p>- аренда студии</p>
        <p>- 10 фотографий с ретушью</p>
        <p>- все фотографии со съемки в фомате JPG</p>
        <p>&nbsp;</p>
        <p><strong>СРЕДНЕЕ ПОРТФОЛИО:</strong> &nbsp;<strong>20 000 р.</strong></p>
        <p>Визажист - <strong>5 000 р</strong>. (2 варианта причесок и макияжа)</p>
        <p>- 4 &nbsp;часа съемки</p>
        <p>- аренда студии</p>
        <p>- 15 фотографий с ретушью</p>
        <p>- все фотографии со съемки в фомате JPG</p>
        <p>&nbsp;</p>
        <p>&nbsp;<strong>МОДЕЛЬНОЕ ПОРТФОЛИО:</strong> <strong>25 000 р.</strong></p>
        <p>Услуги визажиста <strong>- 7 000</strong> <strong>р.</strong> (3 варианта причесок и макияжа)</p>
        <p>- 5 &nbsp;часов съемки</p>
        <p>- аренда студии</p>
        <p>- 20 фотографий с ретушью</p>
        <p>- все фотографии со съемки в фомате JPG</p>
        <p>&nbsp;</p>
        <p>Услуги стилиста от 10 000 р. подбор одежды для съемки разных стилей у ведущих производителей одежды</p>
        <p><strong>СЪЕМКА ДЛЯ КАТАЛОГОВ: от</strong> <strong>15 000 р./съемочный день</strong>.</p>
        <p><strong>РЕТУШЬ ФОТОГРАФИЙ:</strong> <strong>от 150 до 300 р./фотография</strong></p>
        <p>&nbsp;</p>
        <p><strong>РЕПОРТАЖ, КОРПОРАТИВЫ:&nbsp;</strong></p>
        <p><strong>- 3000 р./час </strong>(от 6 часов)</p>
        <p><strong>- 3500 р./час</strong> (менее 6 часов)</p>
    </div>
</div>
